.ShoppingItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  max-width: 480px;
  max-height: 284px;
}

.ShoppingItem:hover {
  cursor: pointer;
}

.Image {
  max-width: 100%;
  height: auto;
}
